{% extends "layout.html" %}

{% block title %}
    Blog List | Blogs
{% endblock %}

{% block content %}

    <h1 class="text-center text-white mt-5">Blogs List</h1>

    
    <div class="container">
        <a href="{% url 'blog_create' %}" class="btn btn-primary">Create Blog</a>
        <div class="row  mt-5">
            {% for blog in blogs %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.user.username }}</h5>
                            <p class="card-text">{{ blog.text }}</p>
                            {% if user == blog.user %}
                                <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary">Edit Blog</a>
                                <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete Blog</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
